.aboutStyle {
    /* This creates the 'thickness' of your border */
    border: 2px solid transparent;
    border-radius: 12px;
    background: 
    linear-gradient(white, white) padding-box, /* Inner color */
    linear-gradient(135deg, #b39700, #fff2ac, #b39700) border-box; /* Border gradient */

  /* 3. Shadow for depth */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    margin-bottom: 1em;
    @media only screen and (min-width: 600px) {
        margin-right: 20%;
        margin-left: 20%;
    }

    .aboutSection {
        padding: 2.5rem;
        .sectionHeader {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            // padding-bottom: 1rem;
            font-size: xx-large;

            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 550;
            color: #2d3436;
            margin-top: 0;
        }
        .sectionSubHeader {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 1rem;
            font-size: x-large;
            margin-top: 0;
        }
        .sectionBody {
            line-height: 1.6;
            color: #636e72;
            padding-bottom: 2.5rem;
            svg {
                color: teal;
                display: inline-block;
                font-size: small;
            }
        }
        .sectionImage {
            width: 40%;
            height: auto;
            aspect-ratio: 3 / 4;
            object-fit: cover;
            border-radius: 1rem;
            margin-bottom: 2.5rem;
            @media only screen and (max-width: 1200px) {
                width: 70%;
            }
            @media only screen and (max-width: 900px) {
                width: 100%;
                }
                animation: fadeIn 1s ease-in-out;
                
        }
    }

    .projectDescription {
        padding-bottom: 1rem;
    }
    .projectLink {
        color: teal;
        overflow-wrap: break-word;
        word-break: break-all;
        &:hover {
            color: lightblue;
        }
    }

    .experience {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .company {
            font-size: large;
        }
        .date {
            font-size: small;
            
        }
    }
    .title {
        font-size: large;
        padding-bottom: 1rem;
    }
    a {
        &:hover {
            color: teal;
        }
    }
    .projectSection {
        padding: 2.5rem;
        .sectionHeader {
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 550;
            color: #2d3436;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            // padding-bottom: 1rem;
            font-size: xx-large;
            margin-top: 0;
        }
        .sectionSubHeader {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 1rem;
            font-size: x-large;
            margin-top: 0;
        }
        .sectionBody {
            color: #636e72;
            line-height: 1.6;
            padding-bottom: 1rem;
            svg {
                color: teal;
                display: inline-block;
                font-size: small;
            }
        }
        .sectionImage {
            display: flex;
            justify-content: center;    
            padding-bottom: 2.5rem;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 1rem;
            }
        }

        .video {
            display: flex;
            justify-content: center;
            padding-bottom: 2.5rem;
            .responsive {
                outline: none;                
                width: 80%;
                height: 700px;
                @media only screen and (max-width: 1000px) {
                    height: 400px;
                }
                @media only screen and (max-width: 700px) {
                    // height: 100%;
                    width: 100%;
                }
            }
        }
      
    }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}